{% extends "core/base2.html" %}

{% block main %}
<div class="card shadow mt-4">
    <div class="card-body">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            {{field.label_tag}} <small class="errors">{{field.errors | striptags }}</small>
            {{field}}
            {% endfor %}
            <input type="submit" value="Change password" class="btn btn-primary form-control mt-1">
        </form>
    </div>
    
</div>
    

{% endblock main %}