{% extends "core/base2.html" %}


{% block main %}

<h4 class="text-danger p-2 border-bottom border-success border-2">Employee Dashboard</h4>

<div class="card shadow">
    <div class="card-body">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            
            <div class="row">
                {% for field in form %}
                
                    <div class="col-sm-6">
                        {{field.label_tag}} <span class="errors">{{field.errors}}</span>
                        {{field}}
                    </div>
                {% endfor %}
                {% for field in form2 %}
                
                    <div class="col-sm-6">
                        {{field.label_tag}} <span class="errors">{{field.errors}}</span>
                        {{field}}
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Update Profile" class="btn btn-primary form-control mt-1">
        </form>
    </div>
</div>


{% endblock main %}


